.card {
	height: 100vh;
	display: grid;
	place-content: center;
}

.card-wrapper {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
		0 3px 7px -3px rgb(0 0 0 / 30%);
	height: 100%;
	width: 450px;
	padding: 20px;
}

.card-title {
	font-size: 20px;
	margin: 25px 0 35px 0;
	color: #777;
	text-align: center;
}
